h1 = @article.title
p = @article.summary
div align="right"
  span.label = @article.category.name
hr
= simple_format @article.body

= link_to 'Editar', edit_admin_article_path(@article)

//= link_to 'Ok', articles_path
